name: CI

on:
  push:
    branches: [master]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - uses: pre-commit/action@v3.0.0

  build:
    needs: [lint]
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.11, "3.12", "3.13", "3.14"]
        include:
          - os: macos-latest # macos test
            python-version: "3.14"
          - os: windows-latest # windows test
            python-version: "3.14"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install .[test]
      - name: test with pytest
        run: pytest --color=yes --cov --cov-report=xml tests
